@model IPagedList<TrailViewModel>

<div id="trailsList">
    <div class="pagedList" data-rmt-target="#trailsList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var item in Model)
    {
        <div>
            <h4>
                @item.Name
            </h4>
            <div>@item.City, @item.State</div>
            <div>Reviews: @item.CountOfReviews</div>
            <hr />
        </div>
    }
</div>